<template>
    <div class="game-status">
        <ul>
            <li>LIVES: {{game.lives}}</li>
            <li>GOLD: {{game.gold}}</li>
            <li>SCORE: {{game.score}}</li>
            <li>HIGH SCORE: {{game.highScore}}</li>
            <li>TURN: {{game.turn}}</li>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'GameStatus',
  props: ['game'],
  methods: {
  }
}
</script>

<style scoped lang="scss">
    @import '../style.scss';

    .game-status {
        background: $primary;
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            padding: 5px;
            color: white;
        }
    }
</style>
