<template>
    <div class="game">
        <button class="btn" @click="startGame()">{{ (!game) ? 'START GAME' : 'RESTART GAME' }}</button>
        <div v-if="game">
            <GameStatus :game="game"/>
        </div>
        <div  v-if="messages">
            <div class="ad-messages-container">
                <div class="risk-indicator-bar">
                    <span class="risk-label">LOW RISK</span><span class="risk-label">HIGH RISK</span>
                </div>
                <div class="sort-by-control">
                    SORT BY:
                    <span @click="sortType = 'value'" :class="{active : sortType === 'value'}">VALUE</span>
                    <span @click="sortType = 'reward'" :class="{active : sortType === 'reward'}">REWARD</span>
                    <span @click="sortType = 'expiry'" :class="{active : sortType === 'expiry'}">EXPIRY</span>
                </div>
                <Message v-for="ad in messages" :key="ad.adId" :ad="ad" :isGameOver="isGameOver"/>
        </div>
        </div>
        <div v-if="shopItems">
            <h3>SHOP</h3>
            <div class="ad-messages-container">
                <ShopItem v-for="item in shopItems" :key="item.id" :item="item" :isGameOver="isGameOver"/>
            </div>
        </div>
        <div class="spinner-container">
            <Spinner :status="showSpinner" :color="'#4fc08d'" :size="100" :depth="6"/>
        </div>
    </div>
</template>

<script>
import Message from './Message.vue'
import GameStatus from './GameStatus.vue'
import Spinner from './Spinner.vue'
import ShopItem from './ShopItem'

export default {
  name: 'Main',
  data () {
    return {
      isGameOver: false,
      sortType: 'value',
    }
  },
  components: {
    ShopItem,
    Message,
    GameStatus,
    Spinner
  },

  methods: {
    startGame () {
      this.isGameOver = false
      this.$store.dispatch('startGame')
      this.$notify({
        text: 'GAME STARTED!',
        duration: 2000
      })
    }
  },
  computed: {
    game () {
      return this.$store.state.game
    },
    messages () {
        if (this.$store.state.messages) {
            if (this.sortType === 'value') {
                return [...this.$store.state.messages].sort(function (a, b) {
                    return a.ev - b.ev
                }).reverse();
            }
            if (this.sortType === 'reward') {
                return [...this.$store.state.messages].sort(function (a, b) {
                    return a.reward - b.reward
                }).reverse();
            }
        }

      return this.$store.state.messages
    },
    shopItems () {
      return this.$store.state.shopItems
    },
    showSpinner () {
      return this.$store.state.networkRequest
    }
  },
  watch: {
    game (val) {
      if (val.lives < 1) {
        this.$notify({
          text: 'GAME OVER!',
          duration: 5000
        })
        this.isGameOver = true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import '../style.scss';

    .game-stats {
        max-width: 200px;
    }

    .ad-messages-container {
        max-width: 820px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .spinner-container {

        left: 50%;
        position: absolute;
        z-index: 9;
        margin-left: -3em;
        top: 200px;
    }

    .risk-indicator-bar {
        height: 25px;
        background: linear-gradient(to right, green, green, yellow, orange, red, red);
        margin-bottom: 10px;
        width: 98%;
        border-radius: 6px;

        .risk-label {
            padding: 4px 9px;
            float: right;
            color: white;
        }

        .risk-label:first-child {
            float: left;
        }
    }

    .sort-by-control {
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        span {
            width: 33%;
            height: 40px;
            text-align: center;
            padding: 5px 10px;
        }
        .active {
            background: $primary;
            color: white;
        }
    }
</style>
