<template>
    <div class="ad-message" v-if="ad" @click="clickToAdd()"
         v-bind:style="{
         border: riskColor + 'solid 2px',
         background: riskColor,
         opacity: (!this.isGameOver) ? '1' : '0.5' }"
         :class="{encrypted : ad.encrypted}"
    >
        <div class="ad-content" :class="{'half-opacity' : solvedMessageResult}">
            <div class="message-text">{{ad.message}}</div>
            <div class="expires" v-if="!solvedMessageResult">expires after {{ad.expiresIn}} turns</div>
            <div class="reward"><strong>reward: {{ad.reward}}</strong></div>
        </div>

        <transition name="bounce">
            <div v-if="solvedMessageResult" class="task-result"
                 :style="{ color: (solvedMessageResult === 'SUCCESS!') ? '#008000' : 'red'}"
            >{{ solvedMessageResult }}
            </div>
        </transition>
    </div>
</template>

<script>
import {TasksRiskValues} from '../config/RiskValues'

export default {
  name: 'Message',
  data () {
    return {
      riskColor: '',
      clicked: false
    }
  },
  props: ['ad', 'isGameOver'],
  methods: {
    clickToAdd () {
      if (!this.$store.state.networkRequest && !this.isGameOver && !this.$store.state.solvedMessage) {
        this.$store.dispatch('clickOnAd', this.ad).then(() => {
          this.clicked = true
        })
      }
    },
    calcProbabilityColor (value) {
      // value from 0 to 1
      let hue = ((1 - value) * 120).toString(10)
      return ['hsl(', hue, ',100%,40%)'].join('')
    },
    getSuccessProbability () {
      if (this.ad.probability) {
        const probability = TasksRiskValues[this.ad.probability]
        return (probability) || 0.9
      }
      return 0.9
    }
  },
  computed: {
    game () {
      return this.$store.state.game
    },
    showSpinner () {
      return this.$store.state.networkRequest
    },
    solvedMessageResult () {
      if (this.$store.state.solvedMessage && this.clicked &&
                    this.$store.state.solvedMessage.adId === this.ad.adId) {
        return this.$store.state.solvedMessage.result
      }
      return ''
    }
  },
  mounted () {
    this.riskColor = this.calcProbabilityColor(this.getSuccessProbability())
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
    @import '../style.scss';

    .bounce-enter-active {
        animation: bounce-in .6s;
    }

    .bounce-leave-active {
        animation: bounce-in .6s reverse;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1);
        }
    }

    .ad-message {
        max-width: 200px;
        height: 130px;
        max-height: 130px;
        /*border: solid 1px lighten(black, 80);*/
        cursor: pointer;
        margin: 3px;
        border-radius: 6px;
        color: white;
        @extend %no-selection;

        &:hover {
            background: #fbfbfb;
            /*transform: scale(1.025);*/
            transform: translateY(3px);
            filter: contrast(0.95);
            transition: all .3s ease;
        }

        &:active {
            font-weight: bold;
            transform: scale(.99);
            filter: contrast(1.1);
        }
    }

    .message-text {
        padding: 6px;
        margin: 2px;
        border-radius: 3px;
        font-size: 13px;
        font-family: "Open Sans", sans-serif, Arial;
        color: lighten(black, 40);
        background: white;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 176px;
        height: 75px;
        max-height: 75px;
        margin-bottom: 6px;
    }

    .task-result {
        position: relative;
        top: -60px;
        font-size: 24px;
        /*z-index: 2;*/
        font-weight: bolder;
        background: rgba(255, 255, 255, 0.04);
    }

    .half-opacity {
        opacity: .5;
    }

    .encrypted {
        filter: saturate(30%) blur(1px);
    }

</style>
