<template>
    <div class="shop-item" v-if="item"
         v-bind:style="{opacity: (!this.isGameOver) ? '1' : '0.5' }"
    >
        <div class="item-name">{{item.name}}</div>
        <div class="shop-item-cost">
            <strong>COST: {{item.cost}} <span v-if="hasBought">✓</span></strong>
        </div>
        <button class="btn" @click="buyItem()"
        :disabled="availableFunds < item.cost"
        >BUY</button>
    </div>
</template>

<script>
export default {
  name: 'ShopItem',
  data () {
    return {
      clicked: false
    }
  },
  props: ['item', 'isGameOver'],
  methods: {
    buyItem () {
      if (!this.$store.state.networkRequest && !this.isGameOver) {
        this.$store.dispatch('buyShoppingItem', this.item).then(() => {
          this.clicked = true
        })
      }
    }
  },
  computed: {
    availableFunds () {
      if (this.$store.state.game) {
        return this.$store.state.game.gold
      }
      return 0
    },
    showSpinner () {
      return this.$store.state.networkRequest
    },
    solvedMessageResult () {
      if (this.$store.state.solvedMessage && this.clicked &&
                    this.$store.state.solvedMessage.adId === this.ad.adId) {
        return this.$store.state.solvedMessage.result
      }
      return ''
    },
    hasBought () {
      return this.$store.state.boughtItems.includes(this.item.name)
    }
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import '../style.scss';

    .shop-item {
        max-width: 200px;
        height: 130px;
        max-height: 130px;
        border: solid 1px lighten(black, 80);
        margin: 3px;
        @extend %no-selection;

        .item-name {
            text-transform: uppercase;
            padding: 12px 6px 0 6px;
            font-size: 16px;
            color: lighten(black, 40);
            width: 180px;
            height: 45px;
            max-height: 75px;
            margin-bottom: 6px;
        }

        .shop-item-cost {
            margin-bottom: 10px;
        }

        &:hover {
            background: aliceblue;
        }
    }

</style>
