<template>
  <div id="app">
    <router-view/>
    <notifications classes="customNotificationStyle" position="bottom center"/>
  </div>
</template>
<script>

export default {
  name: 'App',
  data () {
    return {
      notificaton: '',
      subscription: null
    }
  },
  watch: {
  },
  mounted () {
    this.subscription = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'notify') {
        this.$notify({
          text: mutation.payload,
          duration: 2000,
        })
      }
    })
  },
  beforeDestroy () {
    this.subscription.unsubscribe()
  }

}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.customNotificationStyle {
  background-color: rgba(0, 0, 0, 0.74) !important;
  padding: 7px;
  border-radius: 10px;
  min-height: 2em;
  text-align: center !important;
  margin-bottom: 1em;
  color:rgba(245, 245, 245, 0.877);
  font-weight: 400;
}
</style>
