$primary: #008000;


%no-selection {
  user-select: none; /* Likely future */
}

.btn {
  position: relative;

  padding: 5px 8px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: $primary;
  color: #ecf0f1;

  transition: background-color .3s;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary, 10);
  }

  &:disabled {
    cursor: not-allowed;
    filter: saturate(0);
    background-color: lighten($primary, 20);
  }
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

